@using myFinPort.Helpers
@model IEnumerable<myFinPort.Models.ApplicationUser>

@{
    ViewBag.Title = "Members";
    UserHelper userHelper = new UserHelper();
}


<div class="container">


  <h2>Members</h2>
  <table class="table">
    <thead>
    <tr>
      <th></th>
      <th class="text-success">
        @Html.DisplayNameFor(model => model.FirstName)
      </th>
      <th class="text-success">
        @Html.DisplayNameFor(model => model.LastName)
      </th>
      <th class="text-success">
        @Html.DisplayNameFor(model => model.Email)
      </th>
      <th class="text-success">
        @Html.DisplayNameFor(model => model.UserName)
      </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in userHelper.GetUserList())
    {
      <tr>
        <td>
          <div class="col-2 user-img"><img src="@item.AvatarPath" class="img-circle img-responsive" /></div>
        </td>
        <td class="text-light">
          @item.FirstName
        </td>
        <td class="text-light">
          @item.LastName
        </td>
        <td class="text-light">
          @item.Email
        </td>
        <td class="text-light">
          @item.UserName
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
