@model myFinPort.ViewModels.DashboardVM

@using myFinPort.Helpers

@{
  ViewBag.Title = "Dashboard";
  BankAccountsHelper bankAccountsHelper = new BankAccountsHelper();
}

<div class="container">
  <h4 class="text-center mb-5">
    <i class="mdi mdi-camera mr-2"></i>
    <span class="scaps">Financial Snapshot </span>:
    @Model.StartDate.ToString("dd MMM yyyy")
    <span class="text-danger">To</span> @Model.EndDate.ToString("dd MMM yyyy")
    <span class="text-purple">(@ViewBag.TimePeriod)</span>
  </h4>


  <div class="container">
    <div class="col-12">
      <div class="card bg-light px-3">
        <div class="card-title text-center">
          <h3 class="mt-3">Totals for All Accounts</h3>
        </div>
        <div class="row">
          <!-- Account Balances -->
          <div class="col-12 col-md-6 col-xl-3">
            <div class="card card-inverse card-info overflow-hidden">
              <div class="card-body">
                <div class="d-flex">
                  <div class="m-r-20 align-self-center">
                    <h1 class="text-white"><i class="mdi mdi-bank"></i></h1>
                  </div>
                  <div>
                    <h3 class="card-title">Balance</h3>
                    <h6 class="card-subtitle">@Model.EndDate.ToString("dd MMM yyyy")</h6>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-12 align-self-center">
                    <h2 class="font-light text-white">@string.Format("{0:c}", bankAccountsHelper.TotalBalance())</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Income -->
          <div class="col-12 col-md-6 col-xl-3">
            <div class="card card-inverse card-success overflow-hidden">
              <div class="card-body">
                <div class="d-flex">
                  <div class="m-r-20 align-self-center">
                    <h1 class="text-white"><i class="mdi mdi-bank"></i></h1>
                  </div>
                  <div>
                    <h3 class="card-title">Deposits</h3>
                    <h6 class="card-subtitle">@ViewBag.TimePeriod</h6>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-12 align-self-center">
                    <h2 class="font-light text-white">@string.Format("{0:c}", bankAccountsHelper.TotalDepositsFromDate(Model.StartDate))</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Expenses -->
          <div class="col-12 col-md-6 col-xl-3">
            <div class="card card-inverse card-danger overflow-hidden">
              <div class="card-body">
                <div class="d-flex">
                  <div class="m-r-20 align-self-center">
                    <h1 class="text-white"><i class="mdi mdi-bank"></i></h1>
                  </div>
                  <div>
                    <h3 class="card-title">Withdrawals</h3>
                    <h6 class="card-subtitle">@ViewBag.TimePeriod</h6>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-12 align-self-center">
                    <h2 class="font-light text-white">@string.Format("{0:c}", bankAccountsHelper.TotalWithdrawalsFromDate(Model.StartDate))</h2>
                  </div>
                  @*<div class="col-6 p-t-10 p-b-20 text-right align-self-center">
                    <div class="spark-count2" style="height:65px"></div>
                  </div>*@
                </div>
              </div>
            </div>

          </div>

          <!-- Net Gain -->
          <div class="col-12 col-md-6 col-xl-3">
            <div class="card card-inverse card-megna overflow-hidden">
              <div class="card-body">
                <div class="d-flex">
                  <div class="m-r-20 align-self-center">
                    <h1 class="text-white"><i class="mdi mdi-bank"></i></h1>
                  </div>
                  <div>
                    <h3 class="card-title">Net Gain</h3>
                    <h6 class="card-subtitle">@ViewBag.TimePeriod</h6>
                  </div>
                </div>
                <div class="row text-center">
                  <div class="col-12 align-self-center">
                    <h2 class="font-light text-white">@string.Format("{0:c}", bankAccountsHelper.GetNetFromDate(Model.StartDate))</h2>
                  </div>
                  @*<div class="col-6 p-t-10 p-b-20 text-right align-self-center">
                    <div class="spark-count2" style="height:65px"></div>
                  </div>*@
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- ********************************** -->
    <!-- Start individual account snapshots -->
    @foreach (var account in bankAccountsHelper.ListHHBankAccounts())
    {
      <div class="col-12">
        <div class="card bg-light px-3">
          <div class="card-title text-center">
            <h3 class="mt-3">@account.AccountName Totals</h3>
          </div>
          <div class="row">
            <!-- Account Balances -->
            <div class="col-12 col-md-6 col-xl-3">
              <div class="card card-inverse card-info overflow-hidden">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="m-r-20 align-self-center">
                      <h1 class="text-white"><i class="mdi mdi-bank"></i></h1>
                    </div>
                    <div>
                      <h3 class="card-title">Balance</h3>
                      <h6 class="card-subtitle">@Model.EndDate.ToString("dd MMM yyyy")</h6>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-12 align-self-center">
                      <h2 class="font-light text-white">@string.Format("{0:c}", bankAccountsHelper.TotalBalance(account))</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Income -->
            <div class="col-12 col-md-6 col-xl-3">
              <div class="card card-inverse card-success overflow-hidden">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="m-r-20 align-self-center">
                      <h1 class="text-white"><i class="mdi mdi-bank"></i></h1>
                    </div>
                    <div>
                      <h3 class="card-title">Deposits</h3>
                      <h6 class="card-subtitle">@ViewBag.TimePeriod</h6>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-12 align-self-center">
                      <h2 class="font-light text-white">@string.Format("{0:c}", bankAccountsHelper.TotalDepositsFromDate(account, Model.StartDate))</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Expenses -->
            <div class="col-12 col-md-6 col-xl-3">
              <div class="card card-inverse card-danger overflow-hidden">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="m-r-20 align-self-center">
                      <h1 class="text-white"><i class="mdi mdi-bank"></i></h1>
                    </div>
                    <div>
                      <h3 class="card-title">Withdrawals</h3>
                      <h6 class="card-subtitle">@ViewBag.TimePeriod</h6>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-12 align-self-center">
                      <h2 class="font-light text-white">@string.Format("{0:c}", bankAccountsHelper.TotalWithdrawalsFromDate(account, Model.StartDate))</h2>
                    </div>
                    @*<div class="col-6 p-t-10 p-b-20 text-right align-self-center">
                      <div class="spark-count2" style="height:65px"></div>
                    </div>*@
                  </div>
                </div>
              </div>

            </div>

            <!-- Net Gain -->
            <div class="col-12 col-md-6 col-xl-3">
              <div class="card card-inverse card-megna overflow-hidden">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="m-r-20 align-self-center">
                      <h1 class="text-white"><i class="mdi mdi-bank"></i></h1>
                    </div>
                    <div>
                      <h3 class="card-title">Net Gain</h3>
                      <h6 class="card-subtitle">@ViewBag.TimePeriod</h6>
                    </div>
                  </div>
                  <div class="row text-center">
                    <div class="col-12 align-self-center">
                      <h2 class="font-light text-white">@string.Format("{0:c}", bankAccountsHelper.GetNetFromDate(account, Model.StartDate))</h2>
                    </div>
                    @*<div class="col-6 p-t-10 p-b-20 text-right align-self-center">
                      <div class="spark-count2" style="height:65px"></div>
                    </div>*@
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>