@model myFinPort.Models.Transaction

@{
  ViewBag.Title = "Delete";
}

<div class="container">
  <div class="row">
    <div class="col-12 mx-1">
      <div class="card bg-light">
        <div class="card-header">
          <h3 class="text-danger">Are you sure you want to void this transaction?</h3>
        </div>
        <div class="card-body">
          <div class="row mx-1">
            <div class="col-6 card">
              <div class="card-body">
                <div class="card-title">
                  <h4>Transaction Details</h4>
                </div>
                <dl class="dl-horizontal">
                  <dt>
                    @Html.DisplayNameFor(model => model.Account.AccountName)
                  </dt>

                  <dd>
                    <div class="col-12 card bg-success text-dark p-1">
                      @Html.DisplayFor(model => model.Account.AccountName)
                    </div>
                  </dd>

                  <dt>
                    @Html.DisplayNameFor(model => model.Amount)
                  </dt>

                  <dd>
                    <div class="col-12 card bg-success text-dark p-1">
                      @string.Format("{0:C}", Model.Amount)
                    </div>
                  </dd>

                  <dt>
                    @Html.DisplayNameFor(model => model.Created)
                  </dt>

                  <dd>
                    <div class="col-12 card bg-success text-dark p-1">
                      @Html.DisplayFor(model => model.Created)
                    </div>
                  </dd>

                  <dt>
                    @Html.DisplayNameFor(model => model.TransactionType)
                  </dt>

                  <dd>
                    <div class="col-12 card bg-success text-dark p-1">
                      @Html.DisplayFor(model => model.TransactionType)
                    </div>
                  </dd>

                  <dt>
                    Budget Item
                  </dt>

                  <dd>
                    <div class="col-12 card bg-success text-dark p-1">
                      @if (Model.BudgetItem == null)
                      {
                        <span>No Budget Item provided</span>
                      }
                      else
                      {
                        @Html.DisplayFor(model => model.BudgetItem.ItemName)
                      }
                    </div>
                  </dd>

                  <dt>
                    @Html.DisplayNameFor(model => model.Memo)
                  </dt>

                  <dd>
                    <div class="col-12 card bg-success text-dark p-1">
                      @if (string.IsNullOrEmpty(Model.Memo))
                      {
                        <span>No memo provided</span>
                      }
                      else
                      {
                        @Html.DisplayFor(model => model.Memo)
                      }
                    </div>
                  </dd>
                </dl>
              </div>
            </div>

            <div class="col-6 card">
              <div class="card-body">
                <div class="card-title">
                  <h4>Soft Delete</h4>
                </div>
                <div class="card-text">
                  <p>
                    Don't worry.  You will be able to recover this transaction later if you desire.
                  </p>
                  <p>
                    When you void a transaction, it is moved to a special place where it is preserved for your
                    records.  If you ever need to recover it, it will be there for you.
                  </p>
                </div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              @using (Html.BeginForm())
              {
                @Html.AntiForgeryToken()

                <div class="col-md-12">
                  <div class="row justify-content-end">
                    <div class="form-actions no-color">
                      @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-light mr-2" })
                      <input type="submit" value="Void Transaction" class="btn btn-danger mr-2" />
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
