@model myFinPort.Models.Transaction

@{
  ViewBag.Title = "Edit";
}


<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="card">
        <div class="card-header">
          <h2>Edit Transaction</h2>
        </div>
        <div class="card-body">
          @using (Html.BeginForm())
          {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">

              @Html.ValidationSummary(true, "", new { @class = "text-danger" })
              @Html.HiddenFor(model => model.Id)
              @Html.HiddenFor(model => model.OwnerId)
              @Html.HiddenFor(model => model.Created)

              <div class="form-group">
                @Html.LabelFor(model => model.AccountId, "AccountId", htmlAttributes: new { @class = "control-label col-md-10 text-success" })
                <div class="col-md-12">
                  @Html.DropDownList("AccountId", null, htmlAttributes: new { @class = "form-control" })
                  @Html.ValidationMessageFor(model => model.AccountId, "", new { @class = "text-danger" })
                </div>
              </div>

              <div class="form-group">
                @Html.LabelFor(model => model.BudgetItemId, "BudgetItemId", htmlAttributes: new { @class = "control-label col-md-10 text-success" })
                <div class="col-md-12">
                  @Html.DropDownList("BudgetItemId", null, htmlAttributes: new { @class = "form-control" })
                  @Html.ValidationMessageFor(model => model.BudgetItemId, "", new { @class = "text-danger" })
                </div>
              </div>

              <div class="form-group">
                @Html.LabelFor(model => model.OwnerId, "OwnerId", htmlAttributes: new { @class = "control-label col-md-10 text-success" })
                <div class="col-md-12">
                  @Html.DropDownList("OwnerId", null, htmlAttributes: new { @class = "form-control" })
                  @Html.ValidationMessageFor(model => model.OwnerId, "", new { @class = "text-danger" })
                </div>
              </div>

              <div class="form-group">
                @Html.LabelFor(model => model.TransactionType, htmlAttributes: new { @class = "control-label col-md-10 text-success" })
                <div class="col-md-12">
                  @Html.EnumDropDownListFor(model => model.TransactionType, htmlAttributes: new { @class = "form-control" })
                  @Html.ValidationMessageFor(model => model.TransactionType, "", new { @class = "text-danger" })
                </div>
              </div>

              <div class="form-group">
                @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-10 text-success" })
                <div class="col-md-12">
                  @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                </div>
              </div>

              <div class="form-group">
                @Html.LabelFor(model => model.Memo, htmlAttributes: new { @class = "control-label col-md-10 text-success" })
                <div class="col-md-12">
                  @Html.EditorFor(model => model.Memo, new { htmlAttributes = new { @class = "form-control" } })
                  @Html.ValidationMessageFor(model => model.Memo, "", new { @class = "text-danger" })
                </div>
              </div>
              <div class="col-md-12">
                <div class="row justify-content-end">
                  <div class="form-group ">
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-light mr-2" })
                    <input type="submit" value="Save Changes" class="btn btn-danger mr-2" />
                  </div>
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
