@model IEnumerable<myFinPort.Models.Transaction>

@{
  ViewBag.Title = "Index";
}

@*<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />*@

<div class="container">
  <h2>List of Transactions</h2>

  <div class="table-responsive">
    <table id="TransactionsTable" class="table m-t-30 table-hover no-wrap contact-list display">
      <thead>
        <tr>
          <th class="text-blue">
            @Html.DisplayNameFor(model => model.Account.AccountName)
          </th>
          <th class="text-blue">
            @Html.DisplayNameFor(model => model.TransactionType)
          </th>
          <th class="text-blue">
            @Html.DisplayNameFor(model => model.Created)
          </th>
          <th class="text-blue">
            @Html.DisplayNameFor(model => model.Amount)
          </th>
          <th class="text-blue">
            @Html.DisplayNameFor(model => model.Memo)
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @foreach (var item in Model)
        {
          <tr>
            <td class="text-light">
              @Html.DisplayFor(modelItem => item.Account.AccountName)
            </td>
            <td class="text-light">
              @Html.DisplayFor(modelItem => item.TransactionType)
            </td>
            <td class="text-light">
              @item.Created.ToString("dd MMM yyyy")
            </td>
            <td class="text-light">
              @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td class="text-light">
              @Html.DisplayFor(modelItem => item.Memo)
            </td>
            <td class="text-light">
              @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
              @Html.ActionLink("Void", "Delete", new { id = item.Id })
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

</div>

@section Scripts {
  <script src="~/Scripts/jquery.dataTables.min.js"></script>
  <script>
    $(document).ready(function () {
      $('#TransactionsTable').DataTable();
    })
  </script>
  }