@model myFinPort.Models.BankAccount

@{
  ViewBag.Title = "Details";
}


<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <h4>Bank Account Details</h4>
        </div>
        <div class="card-body">
          <dl class="dl-horizontal">
            <dt>
              @Html.DisplayNameFor(model => model.AccountName)
            </dt>

            <dd>
              <div class="col-10 card bg-success text-dark p-1">
                @Html.DisplayFor(model => model.AccountName)
                </div>
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.AccountType)
            </dt>

            <dd>
              <div class="col-10 card bg-success text-dark p-1">
                @Html.DisplayFor(model => model.AccountType)
                </div>
            </dd>

            <dt>
              Owner Email
            </dt>

            <dd>
              <div class="col-10 card bg-success text-dark p-1">
                @Html.DisplayFor(model => model.Owner.Email)
                </div>
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.Created)
            </dt>

            <dd>
              <div class="col-10 card bg-success text-dark p-1">
                @Html.DisplayFor(model => model.Created)
                </div>
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.StartingBalance)
            </dt>

            <dd>
              <div class="col-10 card bg-success text-dark p-1">
                @string.Format("{0:C}", Model.StartingBalance)
                </div>
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.CurrentBalance)
            </dt>

            <dd>
              <div class="col-10 card bg-success text-dark p-1">
                @string.Format("{0:C}", Model.CurrentBalance)
                </div>
            </dd>

            <dt>
              @Html.DisplayNameFor(model => model.WarningBalance)
            </dt>

            <dd>
              <div class="col-10 card bg-success text-dark p-1">
                @string.Format("{0:C}", Model.WarningBalance)
                </div>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>
