<!DOCTYPE html>
<html lang="en">

@using Microsoft.AspNet.Identity
@using myFinPort.Helpers

@{
  BankAccountsHelper accountsHelper = new BankAccountsHelper();
  BudgetsHelper budgetsHelper = new BudgetsHelper();
  HouseholdHelper hhHelper = new HouseholdHelper();
  UserRolesHelper rolesHelper = new UserRolesHelper();
  UserHelper userHelper = new UserHelper();
}

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" type="image/png" sizes="16x16" href="~/favicon.png">
  <title>My Financial Portal</title>
  <!-- Bootstrap Core CSS -->
  <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
  <link href="~/Content/all.css" rel="stylesheet" />
  <link href="~/Content/steps.css" rel="stylesheet" />
  <link href="~/Content/sweetalert.css" rel="stylesheet" />
  <!-- morris CSS -->
  <link href="~/Content/morris.css" rel="stylesheet" />
  <!-- Custom CSS -->
  <link href="~/Content/style.css" rel="stylesheet" />
  <!-- You can change the theme colors from here -->
  <link href="~/Content/blue-dark.css" rel="stylesheet" />
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body class="fix-header fix-sidebar card-no-border">
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <svg class="circular" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
      <nav class="navbar top-navbar navbar-expand-md navbar-light">
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-header">
          <a class="navbar-brand" href="@Url.Action("Dashboard", "Home")">
            <!-- Logo icon -->
            <b>
              <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
              <!-- Dark Logo icon -->
              <img src="~/Images/logo-icon.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo icon -->
              <img src="~/Images/logo-icon.png" alt="homepage" class="light-logo" />
              @*<img src="~/Images/logo-light-icon.png" alt="homepage" class="light-logo" />*@
            </b>
            <!--End Logo icon -->
            <!-- Logo text -->
            <span>
              <!-- dark Logo text -->
              <img src="~/Images/logo-text.png" alt="homepage" class="dark-logo" />
              <!-- Light Logo text -->
              <img src="~/Images/logo-text.png" class="light-logo" alt="homepage" />
              @*<img src="~/Images/logo-light-text.png" class="light-logo" alt="homepage" />*@
            </span>
          </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse">
          <!-- ============================================================== -->
          <!-- toggle and nav items -->
          <!-- ============================================================== -->
          <ul class="navbar-nav mr-auto mt-md-0">
            <!-- This is  -->
            <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
            <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
            <!-- ============================================================== -->
            <!-- Transactions -->
            <!-- ============================================================== -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark"
                 href="@Url.Action("Create", "Transactions")" data-toggle="dropdown">
                <i class="mdi mdi-cash-100"></i>
                @*<div class="notify"></div>*@
              </a>
              <div class="dropdown-menu mailbox animated slideInUp">
                <ul>
                  <li>
                    <div class="drop-title">Record a Transaction</div>
                  </li>
                  <li>
                    <div class="message-center">
                      <!-- Deposit -->
                      <a href="@Url.Action("CreateDeposit", "Transactions")">
                        <div class="btn btn-success btn-sm btn-circle mr-2"><i class="fa fa-usd"></i></div>
                        <div class="mail-contnet">
                          <h5> Deposit</h5>
                        </div>
                      </a>
                      <!-- Withdrawal -->
                      <a href="@Url.Action("CreateWithdrawal", "Transactions")">
                        <div class="btn btn-success btn-sm btn-circle mr-2"><i class="fa fa-usd"></i></div>
                        <div class="mail-contnet">
                          <h5> Withdrawal</h5>
                        </div>
                      </a>
                      <!-- Transfer -->
                      <a href="@Url.Action("CreateTransfer", "Transactions")">
                        <div class="btn btn-success btn-sm btn-circle mr-2"><i class="fa fa-usd"></i></div>
                        <div class="mail-contnet">
                          <h5> Transfer</h5>
                        </div>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <!-- End Transactions -->
          </ul>
        </div>
      </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div class="scroll-sidebar">
        <!-- User profile -->
        <div class="user-profile">
          <!-- User profile image -->
          <div class="profile-img">
            <a href="@Url.Action("Index", "Manage")">
              <img src="@userHelper.GetAvatarPath()" alt="user" />
            </a>
            <!-- this is blinking heartbit-->
            @*<div class="notify setpos"> <span class="heartbit"></span> <span class="point"></span> </div>*@
          </div>
          <!-- User profile text-->
          <div class="profile-text">
            <h5>@userHelper.GetFullName()</h5>
            @*<a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="mdi mdi-settings"></i></a>
              <a href="@Url.Action("Login","Account")" class="" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>*@
          </div>
        </div>
        <!-- End User profile text-->
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
          <ul id="sidebarnav">
            <li class="nav-devider"></li>
            <li class="nav-small-cap">HOUSEHOLD</li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-camera"></i><span class="hide-menu">Snapshots <span class="label label-rouded label-themecolor pull-right">3</span></span></a>
              @*<a class="waves-effect waves-dark" href="@Url.Action("Dashboard", "Home")" aria-expanded="false"><i class="mdi mdi-gauge"></i>Dashboard </a>*@
              <ul class="collapse">
                <li><a href="@Url.Action("Dashboard", "Home")">Year to Date </a></li>
                <li><a href="@Url.Action("DashboardMtd", "Home")">Month to Date </a></li>
                <li><a href="@Url.Action("Dashboardt30d", "Home")">Trailing 30 Days</a></li>
              </ul>
            </li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-bank"></i><span class="hide-menu">Accounts</span></a>
              <ul class="collapse">
                <li>
                  @Html.ActionLink("Add New", "Create", "BankAccounts")
                  @*<a href="app-calendar.html">Add New</a>*@
                </li>
                @if (accountsHelper.HHBankAccountsCount() > 0)
                {
                  foreach (var account in accountsHelper.ListHHBankAccounts())
                  {
                    if (!account.IsDeleted)
                    {
                      <li>
                        @Html.ActionLink(account.AccountName, "Details", "BankAccounts", new { Id = account.Id }, null)
                        @*<a href="app-calendar.html">@account.AccountName</a>*@
                      </li>
                    }
                  }
                }
              </ul>
            </li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-bullseye"></i><span class="hide-menu">Budgets</span></a>
              <ul>
                <li>
                  <a alt="default" data-toggle="modal" data-target="#budget-modal" class="model_img img-responsive">Add New</a>
                </li>
                @if (budgetsHelper.BudgetsCount() > 0)
                {
                  foreach (var budget in budgetsHelper.ListHHBudgets())
                  {
                    <li>
                      @Html.ActionLink(budget.BudgetName, "Details", "Budgets", new { Id = budget.Id }, null)
                    </li>
                  }
                }
              </ul>
            </li>
            <!-- Transactions Menu -->
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-cash-usd"></i><span class="hide-menu">Transactions</span></a>
              <ul>
                <li>
                  @Html.ActionLink("List All", "Index", "Transactions")
                </li>
                <li>
                  <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span class="hide-menu">New</span></a>
                  <ul aria-expanded="false" class="collapse">
                    <li><a href="@Url.Action("CreateDeposit", "Transactions")">Deposit</a></li>
                    <li><a href="@Url.Action("CreateWithdrawal", "Transactions")">Withdrawal</a></li>
                    <li><a href="@Url.Action("CreateTransfer", "Transactions")">Transfer</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span class="hide-menu">Members</span></a>
              <ul>
                <li>
                  @Html.ActionLink("Show All", "Members", "Households")
                </li>
                @if (rolesHelper.IsUserInRole(User.Identity.GetUserId(), "Head"))
                {
                  <li>
                    <a alt="default" data-toggle="modal" data-target="#invite-modal" class="model_img img-responsive">Invite</a>
                  </li>
                }
              </ul>
            </li>

            <!-- will put PERSONAL back in when I have that functionality working -->
            @*<li class="nav-small-cap">PERSONAL</li>*@
            <li class="nav-devider"></li>
            <li>
              @using (Html.BeginForm("LogOff", "Account"))
              {
                @Html.AntiForgeryToken();
                <div class="text-center d-none d-xl-block">
                  <button class="btn btn-danger mb-3" type="submit"><i class="fa fa-power-off"></i> Logout</button>
                </div>
                <div class="text-center d-xl-none">
                  <button class="btn btn-danger btn-sm btn-rounded mb-3" type="submit"><i class="fa fa-power-off"></i></button>
                </div>}
            </li>
            @if (rolesHelper.IsUserInRole(User.Identity.GetUserId(), "Head") ||
                 rolesHelper.IsUserInRole(User.Identity.GetUserId(), "Member"))
            {
              <li>
                @using (Html.BeginForm("LeaveAsync", "Households"))
                {
                  @Html.AntiForgeryToken();
                  <div class="text-center d-none d-xl-block">
                    <button class="btn btn-dark" type="submit"><i class="mdi mdi-account-remove"></i> Leave Household</button>
                  </div>
                  <div class="text-center d-xl-none">
                    <button class="btn btn-dark btn-sm btn-rounded" type="submit"><i class="mdi mdi-account-remove"></i></button>
                  </div>
                }
              </li>
            }
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="row page-titles">
        <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">@ViewContext.RouteData.Values["controller"].ToString()</h3>
        </div>
        <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">@ViewContext.RouteData.Values["controller"].ToString()</a></li>
            <li class="breadcrumb-item active">@ViewContext.RouteData.Values["action"].ToString()</li>
          </ol>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->

      @RenderBody()

      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer">
        © 2020 myFinPort by Glen P Stewart
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Modals -->
  <!-- ============================================================== -->
  <div id="invite-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        @using (Html.BeginForm("CreateInvitation", "Invitations"))
        {
          @Html.AntiForgeryToken()

          <div class="modal-header">
            <h4 class="modal-title">Create New Invitation</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              @Html.Label("RecipientEmail", htmlAttributes: new { @class = "control-label col-md-2" })
              @Html.Editor("RecipientEmail", new { htmlAttributes = new { @class = "form-control" } })
            </div>

          </div>
          @*<div class="form-group">*@
          <div class="modal-footer">
            <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger waves-effect waves-light">Send Invitation</button>
          </div>
          @*</div>*@
        }
      </div>
    </div>
  </div>

  <div id="budget-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        @using (Html.BeginForm("Create", "Budgets"))
        {
          @Html.AntiForgeryToken()

          <div class="modal-header">
            <h4 class="modal-title">Create New Budget</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          </div>

          <div class="modal-body">
            <div class="form-group">
              @Html.Label("BudgetName", htmlAttributes: new { @class = "control-label col-md-2" })
              @Html.Editor("BudgetName", new { htmlAttributes = new { @class = "form-control" } })
            </div>

          </div>
          @*<div class="form-group">*@
          <div class="modal-footer">
            <button type="button" class="btn btn-light waves-effect" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger waves-effect waves-light">Create</button>
          </div>
          @*</div>*@
        }
      </div>
    </div>
  </div>


  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="~/Scripts/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="~/Scripts/popper.min.js"></script>
  <script src="~/Scripts/bootstrap.min.js"></script>
  <!-- slimscrollbar scrollbar JavaScript -->
  <script src="~/Scripts/jquery.slimscroll.js"></script>
  <!--Wave Effects -->
  <script src="~/Scripts/waves.js"></script>
  <!--Menu sidebar -->
  <script src="~/Scripts/sidebarmenu.js"></script>
  <!--stickey kit -->
  <script src="~/Scripts/sticky-kit.min.js"></script>
  <!--Custom JavaScript -->
  <script src="~/Scripts/custom.min.js"></script>
  <script src="~/Scripts/moment.min.js"></script>
  <script src="~/Scripts/jquery.steps.min.js"></script>
  <script src="~/Scripts/jquery.validate.min.js"></script>
  <script src="~/Scripts/sweetalert.min.js"></script>
  <script src="~/Scripts/jquery.sweet-alert.custom.js"></script>
  <script src="~/Scripts/steps.js"></script>
  <script src="~/Scripts/icheck.min.js"></script>
  <script src="~/Scripts/icheck.init.js"></script>
  <!-- ============================================================== -->
  <!-- This page plugins -->
  <!-- ============================================================== -->
  <!--sparkline JavaScript -->
  <script src="~/Scripts/jquery.sparkline.min.js"></script>
  <!--morris JavaScript -->
  <script src="~/Scripts/raphael-min.js"></script>
  <script src="~/Scripts/morris.min.js"></script>
  <!-- Chart JS -->
  <script src="~/Scripts/dashboard1.js"></script>
  <!-- ============================================================== -->
  <!-- Style switcher -->
  <!-- ============================================================== -->
  <script src="~/Scripts/jQuery.style.switcher.js"></script>

  @RenderSection("scripts", required: false)

</body>

</html>